#body{
    height: 100%;
    margin: 0 ;
    display: flex;
    flex-direction: column;
}

main {
    min-height: calc(100vh - 2rem);
    display: grid;
    place-items: center;
    align-content: stretch;
    justify-content: center;
}